<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico" />

  <title>Application Random</title>

  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <!-- JS -->
  <script type="text/javascript" src="js/jquery.js"></script>


</head>

<body>

  <!-- ######################## bouton scrollTop ####################### -->
  <div id="returnOnTop">
    <img src="img/bouton-haut.png" alt="bouton retour en haut">
  </div>

  <!-- ######################## CONTENT PROJECT #########################""" -->
  <div class="container">

    <div class="row">
      <h2>L'application Random</h2>
      <h3 class="descriptif">
        L'application Random est un projet qui consistait à prendre l'ensemble des élèves et de les placer de manière aléatoire dans des groupes; la fonctionnalité d'attribuer un sensei était également demandé. <br> Cette application a été codé avec le langage Ruby et l'aide du framework Ruby on Rails.
      </h3>
    </div>

    <br>

    <div class="row">
      <div class="col-md-6">
        <img src="img/applirails.png" alt="screenshot de l'application Random" class="img-thumbnail">
      </div>
      <div class="col-md-6">
        <img src="img/applirandom.png" alt="screenshot de l'application Randoml" class="img-thumbnail">
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-md-6">
        <img src="img/railsapplirandom.png" alt="screenshot de l'application Random" class="img-thumbnail">
      </div>
      <div class="col-md-6">
        <img src="img/crergroupe.png" alt="screenshot de comment creer un groupe sur l'application Random" class="img-thumbnail">
      </div>
      <br>
      <br>
    </div>

    <br>

    <div class="row">
      <div class="col-md-5 col-md-offset-4">
        <a href="index.html">
          <button class="button">Précédent</button>
        </a>
        <a href="http://naima-apprandom.herokuapp.com/">
          <button class="button">L'application random Officiel</button>
        </a>
      </div>
    </div>
  </div>
  <!-- end container -->

  <br>
  <br>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- link Js -->
    <script src="js/main.js"></script>


</body>

</html>
