<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <% content_for :title do %>Cheat sheet<% end %>

  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <!-- JS -->
  <script type="text/javascript" src="js/jquery.js"></script>


</head>

<body>

  <!-- ######################## bouton scrollTop ####################### -->
  <div id="returnOnTop">
    <img src="img/bouton-haut.png" alt="bouton retour en haut">
  </div>

  <!-- ######################## CONTENT PROJECT #########################""" -->
  <div class="container">

    <div class="row">
      <h2>Cheet sheat</h2>
      <h3 class="descriptif">
        Création d'un cheet sheat personel, dans le but d'y recenser toutes les balises importantes facilitant la sémantique lors d'une base html. Lors de ce projet l'utilisation d'un framework tel que bootstrap et foundation ont été recommandés. Ces cheet sheat ont été réalisé dans le but de s'entraîner et de se familiariser avec le langage HTML/CSS.
      </h3>
    </div>

    <br>

    <div class="row">
      <div class="col-md-6">
        <img src="img/cheetsheat.png" alt="screenshot du cheet sheat html" class="img-thumbnail">
      </div>
      <div class="col-md-6">
        <img src="img/sheatcheet2.png" alt="screenshot du cheet sheat html" class="img-thumbnail">
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-md-6">
        <img src="img/cheetsheat3.png" alt="screenshot du cheet sheat html" class="img-thumbnail">
      </div>
      <div class="col-md-6">
        <img src="img/sheetcheatcss.png" alt="screenshot du cheat sheet css" class="img-thumbnail">
      </div>
      <br>
      <br>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
      <%= button_to "Précédent", home_path, :class => "button", :method => :get  %>
      </div>
      <div class="col-md-3 col-md-offset-2">
        <a href="http://anaima.github.io/cheat-sheet-html/">
          <button class="button">Cheet sheat</button>
        </a>
      </div>
    </div>
  </div>
  <!-- end container -->

  <br>
  <br>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <!-- link Js -->
  <script src="js/main.js"></script>


</body>

</html>
