<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title> Mon curriculum vitae </title>


  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->
  <link rel="icon" href="favicon.ico" />
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container">


    <header id="nav">
      <!-- /////////////////// HEADER ////////////////////-->

          <div class="col-md-12" id="entete"></div>

        <div class="row">
          <div class="col-md-5">
            <img src="img/logo_naim2.png" alt="logo Naïma" class="img-thumbnail logo">
          </div>
          <div class="col-md-5">
            <h1 class="double">Naïma A.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>

        </div>

    </header>
    <!-- ///////////////////////// /HEADER /////////////////////-->

    <div id="aside" class="col-md-3">
      <!-- /////////// ASIDE ///////////////-->
      <div class="row">
        <br>
        <br>
        <div class="col-md-12">

          <h3>Présentation</h3>
          <br>
          <p class="presentation">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veni. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>Coordonnées</h3>
          <br>
          <p class="presentation">disponible de suite, disponible de suite, disponible de suite, disponible de suite, disponible de suite, disponible de suite</p>
          <br>
        </div>
        <div class="row iccon">
          <div class="col-md-12">
            <img src="img/4284.png" height="30px" class="">Pinterest/Nana
          </div>

          <div class="col-md-12">
            <img src="img/4284.png" height="30px" class="">Pinterest/Nana
          </div>

          <div class="col-md-12">
            <img src="img/4284.png" height="30px" class="">Pinterest/Nana
          </div>
        </div>
      </div>
    </div>
    <!-- /////////// /ASIDE ///////////////-->

    <div class="col-md-9" id="section">
      <!-- ///////// SECTION /////////////-->
      <div class="row">
        <br>
        <hr class="traith">
        <h2>Compétences</h2>
        <hr class="traith">

        <div class="col-md-12">
          <p class="presentation">
            <strong>2013 : </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="presentation">
            <strong>2013 : </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="presentation">
            <strong>2013 : </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="presentation">
            <strong>2013 : </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="row">

        <hr class="traith">
        <h2>Expériences</h2>
        <hr class="traith">
        <div class="col-md-12">
          <p class="presentation">
            <strong>2013 : </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="presentation">
            <strong>2013 : </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p class="presentation">
            <strong>2013 : </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="row">

        <hr class="traith">
        <h2>Centre d'intérêt</h2>
        <hr class="traith">
        <div class="col-md-12">
          <p class="presentation">
            <strong>2013 : </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        </div>
      </div>
    </div>
    <!-- /////////// /SECTION ///////////////-->

    <!-- <footer>
      <div class="row" id="foot">


      </div>
    </footer> -->



  </div>




  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')
  </script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] =
        function() {
          (b[l].q = b[l].q || []).push(arguments)
        });
      b[l].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = 'https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
