<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <% content_for :title do %>Accueil<% end %>

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <!-- JS -->
    <script src="js/jquery.js" type="text/javascript"></script>

  </head>

  <body>

    <div id="returnOnTop">
      <img alt="bouton retour en haut" src="img/bouton-haut.png">
    </div>
    <div class="container">

      <div class="row">
        <!-- ABOUT -->
        <strong>
          <h2 id="section2">About me</h2>
          <strong>
            <div class="hr">
              <hr>
            </div>
            <div class="col-md-12">
              <br>
              <br>
              <p>Hello World ! Je suis Naïma et j'ai 25 ans. Je peux dire que je suis une développeuse Web en herbe. En herbe ? Oui, car je suis constamment en apprentissage ; j'en apprend TOUS les jours et puis j'ai soif de savoir et j'aime cela. En effet il y a
                encore tellement de choses à voir, découvrir et apprendre dans ce monde numérique qui est en constante évolution.
                <br>
                L'informatique est un domaine qui me passionne vraiment, c'est pour cela que je me suis orientée vers cette voie.
                <br>J'ai fait mes débuts dans le système et réseau (virtualisation de serveurs physiques, mises à niveau d'OS, plan d'adressage IP, configuration et paramètrage de PC, Cisco etc)
                <br>
              </div>
            </div>
            <!-- /ABOUT -->

            <div class="row">
              <!-- TITLE HOOBIES  -->
              <strong>
                <h2 id="section3">Hobbies & Interests</h2>
              </strong>
              <!-- HR -->
              <div class="hr">
                <hr>
              </div>
              <br>
              <br>
              <!-- CONTENT OF HOBBIES -->
              <div class="row">
                <div class="container">

                  <div class="col-md-2">
                    <div class="col oneline">
                      <div class="circle-in hvr-pulse-grow">
                        <i class="fa fa-plane"></i>
                        <p class="hobb">Voyager</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-md-offset-1">
                    <div class="col oneline">
                      <div class="circle-in hvr-pulse-grow">
                        <i class="fa fa-gamepad"></i>
                        <p class="hobb">Jeux vidéos</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-md-offset-1">
                    <div class="col oneline">
                      <div class="circle-in hvr-pulse-grow">
                        <i class="fa fa-music"></i>
                        <p class="hobb">Musique</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-md-offset-1">
                    <div class="col oneline">
                      <div class="circle-in hvr-pulse-grow">
                        <i class="fa fa-film"></i>
                        <p class="hobb">Cinéma</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <br>
              <!-- 2ND CONTENT OF HOBBIES  -->
              <div class="row">
                <div class="container ">
                  <div class="col-md-2 col-md-offset-1">
                    <div class="col oneline">
                      <div class="circle-in hvr-pulse-grow">
                        <i class="fa fa-language"></i>
                        <p class="hobb">Langages</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-md-offset-1">
                    <div class="col oneline">
                      <div class="circle-in hvr-pulse-grow">
                        <i class="fa fa-shopping-basket"></i>
                        <p class="hobb">Shopping</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-md-offset-1">
                    <div class="col oneline">
                      <div class="circle-in hvr-pulse-grow">
                        <i class="fa fa-calendar"></i>
                        <p class="hobb">Lecture</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-md-offset-1">
                    <div class="col oneline">
                      <div class="circle-in hvr-pulse-grow">
                        <i class="fa fa-futbol-o"></i>
                        <p class="hobb">Sport</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- TITLE OF SKILLS -->
              <div class="row">
                <strong>
                  <h2 id="section4">Compétences</h2>
                  <!-- HR -->
                  <div class="hr">
                    <hr/>
                  </div>
                </strong>

                <!--###################### CONTENT OF SKILLS ###############################-->
                <div class="row">
                  <div class="col-md-4">
                    <div class="progress-pie-chart" data-percent="72">
                      <div class="ppc-progress">
                        <div class="ppc-progress-fill"></div>
                      </div>
                      <div class="ppc-percents">
                        <div class="pcc-percents-wrapper">
                          <span>%</span>
                        </div>
                      </div>
                    </div>
                    <h3>Ruby on Rails</h3>
                    <p>
                      Ruby on Rails, également appelé RoR ou Rails, est un framework web libre écrit en Ruby. Il suit le motif de conception modèle-vue-contrôleur aussi nommé MVC. En tant que framework, il propose une structure au programmeur qui lui permet de développer
                      plus vite et plus intuitivement.
                    </p>
                  </div>
                  <div class="col-md-4">
                    <div class="progress-pie-chart2" data-percent="75">
                      <div class="ppc-progress2">
                        <div class="ppc-progress-fill2"></div>
                      </div>
                      <div class="ppc-percents2">
                        <div class="pcc-percents-wrapper2">
                          <span class="deux">%</span>
                        </div>
                      </div>
                    </div>
                    <h3>HTML5/CSS3</h3>
                    <p>
                      Utilisé à chaque conception de sites.
                    </p>
                  </div>
                  <div class="col-md-4">
                    <div class="progress-pie-chart3" data-percent="65">
                      <div class="ppc-progress3">
                        <div class="ppc-progress-fill3"></div>
                      </div>
                      <div class="ppc-percents3">
                        <div class="pcc-percents-wrapper3">
                          <span class="trois">%</span>
                        </div>
                      </div>
                    </div>
                    <h3>Javascript, jQuery</h3>
                    <p>
                      -JavaScript est un langage de programmation de scripts principalement employé dans les pages web intéractives.
                      <br>
                      -Manipulation du DOM
                      <br>
                      -intégration de plug-in jQuery divers...
                    </p>
                  </div>
                </div>
              </div>
              <!-- end first row skills -->

              <div class="row">
                <!--########################### second row of SKILLS ####################-->
                <div class="col-md-4">
                  <div class="progress-pie-chart7" data-percent="56">
                    <div class="ppc-progress7">
                      <div class="ppc-progress-fill7"></div>
                    </div>
                    <div class="ppc-percents7">
                      <div class="pcc-percents-wrapper7">
                        <span class="sept">%</span>
                      </div>
                    </div>
                  </div>
                  <h3>Base de données</h3>
                  <p>
                    SQL (MySQL, Postgresql), NOSQL (MongoDB), interfaces graphiques
                  </p>
                </div>
                <div class="col-md-4">
                  <div class="progress-pie-chart6" data-percent="85">
                    <div class="ppc-progress6">
                      <div class="ppc-progress-fill6"></div>
                    </div>
                    <div class="ppc-percents6">
                      <div class="pcc-percents-wrapper6">
                        <span class="six">%</span>
                      </div>
                    </div>
                  </div>
                  <h3>Serveur</h3>
                  <p>
                    Nginx, Heroku, Apache...
                  </p>
                </div>
                <div class="col-md-4">
                  <div class="progress-pie-chart5" data-percent="82">
                    <div class="ppc-progress5">
                      <div class="ppc-progress-fill5"></div>
                    </div>
                    <div class="ppc-percents5">
                      <div class="pcc-percents-wrapper5">
                        <span class="cinq">%</span>
                      </div>
                    </div>
                  </div>
                  <h3>Git</h3>
                  <p>
                    Outils de versionning. Chaque projet part de Github, ça 'add files', ça 'commit', et ça 'push', ça 'merge' aussi... :D
                  </p>
                </div>
              </div>
              <!--  #############  end of second row of SKILLS ###########-->

              <!--  #############  THIRD row of SKILLS ###########-->
              <div class="row">

                <strong>
                  <h2 id="section6">Projects</h2>
                </strong>
                <div class="hr">
                  <hr/>
                </div>
                <br>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="sheat cheet" class="img-thumbnail" src="img/Prunier.png">
                    <div class="caption">
                      <h3>Prunier</h3>
                      <p>Prunier est une marque déposée. Le projet sur lequel j'ai travaillé est un site vitrine marchand responsive design, ce dernier se voulait épuré, chic et classe de la part de la cliente. Des propositions ont été émises pour une optimisation de ses
                        produits.
                        <br>Sur ce site nous avons utilisé un framework Bootstrap.
                      </p>
                      <p>
                        <a class="btn btn-primary" href="projet.html" role="button">
                          <i class="fa fa-hand-o-right"></i>
                          Jetez-y un coup d'oeil</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="sheat cheet" class="img-thumbnail" src="img/sportfolio.png">
                    <div class="caption">
                      <h3>Sportfolio</h3>
                      <p>Sportfolio est un projet que j'ai fait en binôme avec l'un de mes collègues, nous avons combiné dedans l'une de nos deux passions : les arts martiaux. Le but lors de ce projet était de tester et de travailler sur un framework.
                      </p>
                      <p>
                        <a class="btn btn-primary" href="sportfolio.html" role="button">
                          <i class="fa fa-hand-o-right"></i>
                          Jetez-y un coup d'oeil</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="sheat cheet" class="img-thumbnail" src="img/applirails.png">
                    <div class="caption">
                      <h3>L'application Random</h3>
                      <p>L'application Random est un projet qui consistait à prendre l'ensemble des élèves et de les placer de manière aléatoire dans des groupes; la fonctionnalité d'attribuer un sensei était également demandé.
                        <br>
                        Cette application a été codé avec le langage Ruby et l'aide du framework Ruby on Rails.
                      </p>
                      <p>
                        <a class="btn btn-primary" href="applirandom.html" role="button">
                          <i class="fa fa-hand-o-right"></i>
                          Jetez-y un coup d'oeil</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <br>
              <br>

              <div class="row">
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="sheat cheet" class="img-thumbnail" src="img/cheetsheat.png">
                    <div class="caption">
                      <h3>Cheet sheat HTML et CSS</h3>
                      <p>Création d'un cheet sheat personel, dans le but d'y recenser toutes les balises importantes facilitant la sémantique lors d'une base html.Lors de ce projet l'utilisation d'un framework tel que bootstrap et foundation ont été recommandés.
                      </p>
                      <p>
                        <a class="btn btn-primary" href="cheethtml.html" role="button">
                          <i class="fa fa-thumbs-up"></i>
                          Jetez-y un coup d'oeil</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="sheat cheet" class="img-thumbnail" src="img/jeux2drorgosu.png">
                    <div class="caption">
                      <h3>Jeux 2D</h3>
                      <p>Projet à venir : création d'un jeux 2D à l'aide du framework Ruby on rails
                      </p>
                      <p>
                        <a class="btn btn-primary" href="#" role="button">
                          <i class="fa fa-hand-peace-o"></i>
                          Jetez-y un coup d'oeil</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="thumbnail">
                    <img alt="sheat cheet" class="img-thumbnail" src="img/tobecontinued.jpeg">
                    <div class="caption">
                      <h3>Les KIDZ</h3>
                      <p>Projet à venir : un site back et front-end pour les enfants :D
                      </p>
                      <p>
                        <a class="btn btn-primary" href="#" role="button">
                          <i class="fa fa-hand-peace-o"></i>
                          Jetez-y un coup d'oeil</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="thumbnail">
                  <img alt="sheat cheet" class="img-thumbnail" src="img/kidco.png">
                  <div class="caption">
                    <h3>Kidco</h3>
                    <p>Plateforme facilitant l'échange entre parents séparés pour veiller au bien-être de l'enfant.
                      <br>
                      Pour ce site, j'ai utilisé Ruby on Rails.

                    </p>
                    <p>
                      <a class="btn btn-primary" href="kidco.html" role="button">
                        <i class="fa fa-hand-o-right"></i>
                        Jetez-y un coup d'oeil</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-md-offset-2">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p class=mycv id="hvr-grow-shadow"><br><br>
                  <a class="balle" href="img/CV.pdf">Mon CV ?!<br>
                    take a sneak peek ;)</a>
                </p>
              </div>
            </div>
            <!-- /row -->

            <div class="hr">
              <hr/>
            </div>

            <br>
            <br>
          </div>

          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="js/bootstrap.min.js"></script>
          <!-- link Js -->
          <script src="js/main.js"></script>

        </body>

      </html>
