<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% content_for :title do %>Kidco<% end %>


  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <!-- JS -->
  <script type="text/javascript" src="js/jquery.js"></script>


</head>

<body>

  <!-- ######################## bouton scrollTop ####################### -->
  <div id="returnOnTop">
    <img src="img/bouton-haut.png" alt="bouton retour en haut">
  </div>

  <!-- ######################## CONTENT PROJECT #########################""" -->
  <div class="container">

    <div class="row">
      <h2>KIDCO</h2>
      <h3 class="descriptif">
        Ce projet est né d'une expérience d'une maman séparée. Après plusieurs échecs de médiation, le porteur de projet voulait créer une plate-forme web permettant de simplifier les relations entre parents pour veiller au bien-être de l'enfant. Son but recentrer
        l'enfant au coeur de sa vie durant cette période difficile qu'est la séparation de ses parents.
      </h3>
    </div>

    <br>

    <div class="row">
      <div class="col-md-6">
        <img src="img/kidco.png" alt="kidco" class="img-thumbnail">
      </div>
      <div class="col-md-6">
        <img src="img/kidco6.png" alt="kidco" class="img-thumbnail">
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-md-6">
        <img src="img/kidco3.png" alt="screenshot de la page contact kidco" class="img-thumbnail">
      </div>
      <div class="col-md-6">
        <img src="img/kidco4.png" alt="kidco" class="img-thumbnail">
      </div>
      <br>
      <br>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 col-md-offset-4">
        <a href="index.html.erb">
          <button class="button">Précédent</button>
        </a>
        <a href="http://kidco.herokuapp.com/">
          <button class="button">Site officiel Kidco </button>
        </a>
      </div>
    </div>
  </div>
  <!-- end container -->

  <br>
  <br>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <!-- link Js -->
  <script src="js/main.js"></script>


</body>

</html>
