<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% content_for :title do %>Prunier<% end %>

  <!-- Font -->
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <!-- JS -->
  <script type="text/javascript" src="js/jquery.js"></script>


</head>

<body>

  <!-- ######################## bouton scrollTop ####################### -->
  <div id="returnOnTop">
    <img src="img/bouton-haut.png" alt="bouton retour en haut">
  </div>

  <!-- ######################## CONTENT PROJECT #########################""" -->
  <div class="container">

    <div class="row">
      <h2>Prunier</h2>
      <h3 class="descriptif">
        Prunier est une marque déposée. Le projet sur lequel j'ai travaillé est un site vitrine marchand responsive design, ce dernier se voulait épuré, chic et classe de la part de la cliente. Des propositions ont été émises pour une optimisation de ses produits.
        <br>Sur ce site nous avons utilisé le framework Bootstrap.
      </h3>
    </div>

    <br>

    <div class="row">
      <div class="col-md-6">
        <img src="img/Prunier.png" alt="site de mode de la marque Prunier" class="img-thumbnail">
      </div>
      <div class="col-md-6">
        <img src="img/Prunierproduit2.png" alt="site de mode de la marque Prunier" class="img-thumbnail">
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <div class="col-md-6">
        <img src="img/Prunierproduit.png" alt="site de mode de la marque Prunier" class="img-thumbnail">
      </div>
      <div class="col-md-6">
        <img src="img/Prunierhome.png" alt="site de mode de la marque Prunier produit" class="img-thumbnail">
      </div>
      <br>
      <br>
    </div>
    <br>
    <div class="row">
      <div class="col-md-5 col-md-offset-4">
        <!-- <a href="index.html">
          <button class="button">Précédent</button>
        </a> -->
        <%= button_to "Précédent", home_path, :class => "button", :method => :get  %>
        <a href="http://simplon-roubaix.github.io/Prunier/index.html">
          <button class="button">Site Prunier</button>
        </a>
      </div>
    </div>
  </div>
  <!-- end container -->

  <br>
  <br>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <!-- link Js -->
  <script src="js/main.js"></script>


</body>

</html>
